* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: montserrat;
}

/* ERROR */
.error {
    padding: 0px 2px;
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    width: 80%;
    margin: 0 10%;
    font-size: 14px;
    text-align: center;
}

/* SUCCESS */
.success {
    padding: 0px 2px;
    border: 1px solid #3c763d;
    color: #3c763d; 
    background: #dff0d8; 
    width: 80%;
    margin: 0 10%;
    font-size: 14px;
    text-align: center;
}

nav {
    background: #00C2FF;
    height: 80px;
    width: 100%;
}
label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float:  right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color:  white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover {
    background: #00ace0;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
.carousel {
    background: url("../images/saving-family-expense-with-money-coin-and-light-bulb-.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
.banner {
    background: url("../images/banner.jpg") no-repeat;
	background-size: cover;
	height: calc(100vh - 80px);
	height: 270px;
}

input[type='text'], input[type='password'], input[type='email'], textarea{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}
.button {
	background-color: #00C2FF;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.banner-title {
    font-size: 40px; 
    color:white; 
    text-align: center; 
    padding-top: 170px; 
    font-weight: bold
}

.contact-form {
    width: 50%; 
    margin: auto;
}

.column {
    float: left;
    width: 29.8%;
    padding: 10px;
    height: 270px;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
}
.column img {
    width: 70px; 
    height: 70px; 
    border-radius: 50px; 
    margin-left: 43%; 
    margin-top: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    margin: auto;
    padding: 10px;
}

.terms-and-conditions {
    width: 70%; 
    margin-left: auto; 
    margin-right: auto; 
    text-align: left; 
    margin-top: 50px; 
    margin-bottom: 50px;
}



/* FAQ */
.accordion {
    background-color: #eee;
    color: #00C2FF;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #00C2FF; 
    color: white;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }



/* ==========================================================
========================= FOOTER =========================
========================================================== */
.footer-container {
    width: 100%;
    background: #3D444A;
    color: #fff;
	text-align: center;
	padding: 30px;
}
.footer-container .terms {
    color: white; 
    font-size: 13px;
}
.footer-container .terms:hover {
    margin-left: 5px;
    color: #00C2FF; 
    transition: .5s;
    background-color: #3D444A;
}
.footer-container p {
    text-align: center; 
    margin-top: 10px; 
    font-size: 13px;
}








@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
	}
	.banner {
		background: url("../images/banner.jpg") no-repeat;
		background-size: cover;
		height: calc(100vh - 80px);
		height: 200px;
    }
    .banner-title {
        font-size: 40px; 
        color:white; 
        text-align: center; 
        padding-top: 70px; 
        font-weight: bold
    }
    .contact-form {
        width: 90%; 
        margin: auto;
    }
    .terms-and-conditions {
        width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
        text-align: left; 
        margin-top: 50px; 
        margin-bottom: 50px;
    }
}


@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #3D444A;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #00C2FF;
    }
    #check:checked ~ ul{
        left: 0;
	}
	.banner {
		background: url("../images/banner.jpg") no-repeat;
		background-size: cover;
		height: calc(100vh - 80px);
		height: 150px;
    }
    .contact-form {
        width: 90%; 
        margin: auto;
    }

    .column {
        float: left;
        width: 90%;
        padding: 10px;
        height: 290px;
        margin-top: 20px;
        margin-left: 25px;
        margin-right: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .column img {
        width: 70px; 
        height: 70px; 
        border-radius: 50px; 
        margin-left: 43%; 
        margin-top: 10px;
    }
    .terms-and-conditions {
        width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
        text-align: left; 
        margin-top: 50px; 
        margin-bottom: 50px;
    }
}








